:root {
    --base-color: #dcdfed;
    --text-color: #333333;
    --base-variant: #e8e9ed;
    --primary-color: #3a435d;
    --border-variant: #101425;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    background-color: var(--base-color);
    color: var(--text-color);
    transition: background-color 0.5s ease, color 0.5s ease;
    font-family: "Raleway", serif;
}

.rotating-icon {
    transition: transform 0.5s ease-in-out;
}

.rotating-icon:hover {
    transform: rotate(360deg);
}

.darkmode {
    --base-color: #1b213c;
    --text-color: #FAF3E0;
    --base-variant: #101425;
    --primary-color: #3a435d;
    --border-variant: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadeIn 0.5s ease-in-out;

}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}


#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0px;
    border-radius: 50px;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 4;
}

#theme-switch svg {
    fill: var(--primary-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

.social>a {
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.social>a>svg {
    margin: auto;
}

.social>a>svg:hover {
    transform: scale(1.1);
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.dashboard {
    padding: 16px 16px 14px;
    width: 100%;
    max-width: 480px;
}

/* HEADER */
header {
    text-align: center;
    margin-bottom: 10px;
}

header h4 {
    font-size: 12px;
}

header h2 {
    color: var(--text-color);
    font-size: 20px;
}

/* CD */
.cd {
    display: flex;
    margin: auto;
    width: 200px;
}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}

/* CONTROL */
.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
}

.control .btn {
    color: var(--border-variant);
    padding: 18px;
    font-size: 18px;
}

.control .btn.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.progress {
    width: 100%;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}

/* PLAYLIST */
.playlist {
    margin-top: 10px;
    padding: 12px;
}

.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: var(--base-variant);
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.song.active {
    background-color: var(--primary-color);
}

.song:active {
    opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
    color: #d3d3d3;
}

.song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
}

.song .body {
    flex: 1;
    padding: 0 16px;
}

.song .title {
    font-size: 18px;
}

.song .author {
    font-size: 12px;
    color: #999;
}

.song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
}